:root {
  --primary: #0047ff;
  --dark: #0a0a0a;
  --light-bg: #fdfdfd;
  --text-main: #000000;
  --text-muted: #ffffff;
  --transition: 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  background: #fff;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;
  height: 70px;
  display: flex;
  align-items: center;
}
.nav-content {
  width: 100%;
  background-color: #000000;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.logo-circle img {
  width: 80%;
}
.logo-text {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  color:white;
}
.menu-checkbox {
  display: none;
}
.hamburger-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background-color: #000000;
}
.bar {
  width: 22px;
  height: 3px;
  background: #ffffff;
  border-radius: 4px;
}
.nav-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #000000;
  padding: 40px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  z-index: 2000;
}
.menu-checkbox:checked ~ .nav-container {
  right: 0;
  color: #eee;
}
.close-btn {
  align-self: flex-end;
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 40px;
  color:red;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  margin-bottom: 25px;
}
.nav-links a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  transition: 0.3s;
}
.nav-links a.active,
.nav-links a:hover {
  color: var(--primary);
}
.section {
  padding: 80px 0;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.badge {
  font-size: 10px;
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
.title {
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  line-height: 1.1;
}
.text-wrapper {
  max-width: 700px;
}
.lead {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 20px;
  line-height: 1.4;
}
p {
  color:black;
  margin-bottom: 15px;
  font-size: 1rem;
}
.contact-dark {
  background: rgb(34, 34, 34);
  color: #fff;
  border-radius: 30px 30px 0 0;
}
.title.white {
  color: #0121b0;
}
.grid-layout {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 50px;
}
.item {
  margin-bottom: 25px;
}
.item span {
  font-size: 10px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}
.item p {
  color: #fff;
  margin-top: 5px;
}
.social-label {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.social-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.icon-box {
  width: 100%;
  aspect-ratio: 1/1;
  background: #4e4e4e;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.icon-box img {
  width: 25px;
  filter: grayscale(1) brightness(2);
}
.social-card span {
  font-size: 9px;
  color: #fff;
  font-weight: 600;
}
.social-card:hover .icon-box {
  transform: translateY(-5px);
}
.wa:hover .icon-box {
  background: #25d366;
}
.ig:hover .icon-box {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.tt:hover .icon-box {
  background: #000;
}
.tt:hover img {
  background-color: #000;
  box-shadow: rgb(255, 255, 255);
}
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s ease-out;
}
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 1024px) {
  .hamburger-label,
  .close-btn {
    display: none;
  }
  .nav-container {
    position: static;
    width: auto;
    height: auto;
    background: black;
    padding: 0;
  }
  .nav-links {
    display: flex;
    gap: 30px;
    margin: 0;
  }
  .nav-links a {
    font-size: 13px;
  }
  .nav-links a:hover {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 2rem;
  }
  .section {
    padding: 60px 0;
  }
  .social-grid {
    max-width: 300px;
  }
}
